div{
 width: 400px;
 margin: 1rem .2rem;

 ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
 }
 
 a{
  color: black;
  text-decoration: none;
  
 }
}