.soup-page{
 display: flex;
 flex-direction: column;
 margin: 35px 25px;
 // align-items: center;
 // justify-content: center;

 .soup-info{
  margin: 1rem 0;
  padding: 1rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  h3{
   text-transform: uppercase;
   font-size: 1.5rem;
  }

  p{
   font-size: 1.1rem;
  }
 }
 .meals{
  margin: 1.5rem 5rem;
  gap: 1rem;
  .meal-section{
   display: grid;
   grid-template-columns:repeat(2, 1fr) ;
   gap: 1rem;
   row-gap: 15px;
  }
  button{
   display: block;
   // justify-content: center;
   // align-items: center;
   margin: 2rem auto;
  }
 }
}