main{
 text-align: center;
 justify-content: center;
 align-items: center;
 margin: 2rem 5rem;
 h3{
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 0;
 }
 p{
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
  text-align: center;
 }
 form{
  margin: auto;
  max-width: 90%;
  width: 70%;
  
  input, textarea{
   font-size: 1.2rem;
   padding: .5rem;
   border: 2px solid!important;
   width: 100%!important;
   text-indent: 1rem;
   color: black!important;

   &::placeholder{
    font-size: 1.2rem;
    font-style: italic;
   }
  }
  button{
   background-color: #F5AC3A!important;
   color: white;
  }
 }

 @media(max-width: 884px){
  margin: 2rem;
  p{
   width: 90%;
   font-size: 1.3rem;
  }
  form{
   max-width: 100%;
   width: 100%;
   margin: 2rem 0;
  }
 }
}