.navbar {
 background: #300017;
 display: flex;
 justify-content: space-between;
 gap: 2rem;
 height: 5rem;
 align-items: center;
 font-size: 1.2rem;
 color: white;
 text-transform: uppercase;
 width: 100vw;
 font-family: 'Lato', sans-serif;

 .navbar-logo {
  color: white;
  justify-self: start;
  padding-left: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  text-transform: none;
  letter-spacing: .2rem;
  font-family: 'Courgette', cursive;
 }

 .search{
  display: block;
  align-self: center;
  justify-self: center;
  padding: .6rem .7rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  background-color: #E5E5E5;

  &::placeholder{
   color: rgb(77, 77, 77);
   font-weight: bolder;
  }
 }
 
 .nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
 }

 .nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  
 }

 .nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
 }

 .active{
  color:#F5AC3A ;
 }

 .fa-bars {
  color: #fff;
 }

 .menu-icon {
  display: none;
 }

 @media screen and (max-width: 960px) {
  .search{
   display: none;
  }
  .nav-menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   position: absolute;
   top: 80px;
   left: -100%;
   opacity: 1;
   transition: all 0.5s ease;
  }

  .nav-menu.active {
   background: #242222;
   left: 0;
   opacity: 1;
   transition: all 0.5s ease;
   z-index: 1;
  }

  .nav-links {
   text-align: center;
   padding: 2rem;
   width: 100%;
   display: table;
  }

  

  .navbar-logo {
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(5%, 50%);
  }

  .menu-icon {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   transform: translate(-100%, 60%);
   font-size: 1.8rem;
   cursor: pointer;
  }

  .fa-times {
   color: #fff;
   font-size: 2rem;
  }

  .nav-links-mobile {
   display: block;
   text-align: center;
   padding: 1.5rem;
   margin: 2rem auto;
   border-radius: 4px;
   width: 80%;
   background: #1888ff;
   text-decoration: none;
   color: #fff;
   font-size: 1.5rem;
  }
 }
}
