.home-page{
 max-width: 100%;

 .landing-container{
  background-color: #300017;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 106vh;
  
 
  .textarea{
   width: 50%;
   margin-top: 3rem;
   
   h3{
    font-size: 5.3rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    word-spacing: .9rem;
    letter-spacing: .4rem;
    color: #FA9E0B;
    padding: 1rem 0;
   }

   p{
    font-size: 1.5rem;
    color: white;
    text-align: left;
    padding-bottom: 1.2rem;
   }

   button{
    color: black;
    font-size: 1.2rem;
    margin: 0 auto;
    cursor: pointer;
    padding: .3rem 5rem;
    align-self: center;
    background-color:#FA9E0B ;
    border-radius: 15px;
    border: none;
    outline: none;
    z-index: 2000;
   

    &:hover{
     color: #FA9E0B;
     background-color:white ;
     border: 3px solid #FA9E0B;
     outline: none;
    }
   }
  }
  .imagearea{
   width: 60%;
   img{
    width: 85%;
   }
  }
 }
 .hot{
  width: 100vw;
  height: auto;
  margin-top: -18rem;
  z-index: -2000;
 }
 .discountedarea{
  margin: 2rem 5rem;
  border: 3px solid grey;
  .textbutton{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1.2rem;
   color:#300017 ;
   h3{
    text-transform: capitalize;
    font-size: 2.2rem;
   }
   button{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #300017;
    text-transform: lowercase;
   }
  }
  .cardarea{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 2rem;
  }
 }

 .event{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
  position: relative;
  .backgroundimage{
   max-width: 800px;
   width: 90%;
  }
  .backgroundpetals{
   position: absolute;
   top: 2rem;
   left: 25%;
  }
  .backgroundpetal{
   position: absolute;
   top: 55%;
   right: 25%;
  }
  .seasontext{
   position: absolute;
   left: 25%;
   top: 50%;
   color: white;
   text-transform: capitalize;
   p{
    font-size: 1.5rem;
    width: 500px;
    padding-bottom: 2rem;
    font-weight: bold;
   }
   button{
    background-color: #FA9E0B;
    cursor: pointer;
    color: black;
    padding: .1rem 4rem;
   }
  }
 }

 @media(max-width:1280px){
  .landing-container{
   padding: 1rem 2rem 3rem 2rem;
   height: 107vh;
   .textarea{
    margin-top: 1rem;
    
    p{
     font-size: 1.3rem;
     padding-bottom: 1rem;
    }
   }
   .imagearea{
    margin-top: 3rem;
   }
  }
  .hot{
   margin-top: -14rem;
   margin-bottom: 2rem;
   z-index: -1000;
  }
  .discountedarea{
   margin: 1rem 3rem;
   // overflow-x: smooth;
   .cardarea{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
   }
   .cardarea>div:last-child{
    display: none;
   }
  }
  .event{
   .backgroundpetals, .seasontext{
    left: 20%;
   }
   .backgroundpetal{
    right: 20%;
    top: 45%;
   }
   
  }
 }
 
 @media(max-width:884px){
  .landing-container{
   height: 90vh;
   gap: 1rem;
   padding: 1rem 2rem;
   .textarea{
    width: 40%;
    margin-top: 2rem;
    p{
     font-size: 1.7rem;
     text-align: justify;
    }
   }
   .imagearea{
    width: 60%;
    margin: 10rem auto;
    img{
     max-width: 750px;
     width: 450px;
     padding: 1rem;
    }
   }
  }
  .hot{
   // padding-top: 2rem;
   margin-top: -10rem;
  }
  .discountedarea{
   margin: 2rem 3rem;
   .cardarea{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
   }
  }
  .event{
   .backgroundpetals, .seasontext{
    left: 10%;
   }
   .backgroundpetal{
    right: 10%;
    top: 45%;
   }
   
  }
 }

 @media (max-width:576px){
  .landing-container{
   height: 90vh;
   padding: 1.3rem;
   .textarea{
    width: 100%;
    margin-top: 0;
    h3{
     font-size: 4.3rem;
     text-align: center;
    }
    p{
     font-size: 1rem;
     padding: 1.2rem .5rem;
     text-align: justify;
    }
   }
   .imagearea{
    display: none;
   }
  }
  .hot{
   margin-top: -5rem;
   height: 7rem;
  }
  .discountedarea{
   margin: 2rem auto;
   width: 90%;
   
   .textbutton{
    h3{
     font-size: 1.3rem;
    }
    button{
     font-size: 1rem;
    }
   }
   .cardarea{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .5 1rem;
   }
  }
  .event{
   margin: 5rem 1rem;
   .backgroundimage{
    width: 95%;
   }
   .backgroundpetals{
    left: 10%;
    width: 85%;
   }
   .backgroundpetal{
    display: none;
   }
   .seasontext{
    left: 5%;
    top: 25%;
    p{
     font-size: 1rem;
     width: 300px;
     padding-bottom: .8rem;
    }
    button{
     padding: 0 3rem!important;
    }
   }
   
  }
 } //end of media query
 
 @media (max-width:359px){

  .landing-container{
   height: 90vh;
   padding: 1rem;
   .textarea{
    width: 100%;
    margin-top: 0;
    h3{
     font-size: 3.4rem;
     text-align: center;
    }
    p{
     font-size: .8rem;
     text-align: justify;
    }
    button{
     margin: auto;
    }
   }
   .imagearea{
    display: none;
   }
  }
  .hot{
   margin-top: -5rem;
   height: 7rem;
  }
 } //end of media query


}